.box-containers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  width: auto;
}

.box {
  border: 5px solid #3c3c3b;
  border-radius: 5px;
  height: 300px;
  margin: 20px;
  padding: 20px;
  width: 350px;
}

.box-image {
  display: block;
  height: 100px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.box-text {
  color: #3c3c3b;
}
