.topmenu-link {
  color: white;
  font-size: 1.2rem;
  margin-left: 15px;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
}

.topmenu-link:hover {
  color: #ef4b4b;
  border-bottom: 2px solid white;
  text-decoration: none;
  transition: all 0.3s;
}

.top-menu a.active {
  border-bottom: 2px solid #ef4b4b;
}

.brand-logo {
  height: 60px;
}

.top-menu .navbar-toggler {
  border-color: #aa4949 !important;
}

.top-menu .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='rgba(239, 75, 75, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}
