.top-menu {
  background: #3c3c3b;
}

.topmenu-link {
  color: white;
  font-size: 1.2rem;
  margin-left: 15px;
}

.topmenu-link:hover {
  color: white;
  border-bottom: 2px solid white;
  text-decoration: none;
  transition: all 0.3s;
}

.top-menu a.active {
  border-bottom: 2px solid #ef4b4b;
}

.brand-logo {
  height: 60px;
}
