.topmenu-link {
  color: white;
  font-size: 1.2rem;
  margin-left: 15px;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
}

.topmenu-link:hover {
  color: #ef4b4b;
  border-bottom: 2px solid white;
  text-decoration: none;
  transition: all 0.3s;
}

.top-menu a.active {
  border-bottom: 2px solid #ef4b4b;
}

.brand-logo {
  height: 60px;
}
