.container-cover {
  background: #f0f5f9;
  padding: 50px 0;
}

.container-titles {
  text-align: left;
  margin: auto;
}

.container-titles h4 {
  color: #5c5c5c;
}

.container-titles h2 {
  color: #3a3a47
}

.image-cover {
  width: 100%;
  height: auto;
}
